.game_log-main {
  width: 80vw;
  margin: 20px auto;
}
.game_log-main h2 {
  color: white;
  font-weight: bold;
}

.game_log-table {
  margin: 20px auto;
}

.game_log-table .game_log-table-head {
  color: white;
  font-weight: bold;
}
.game_log-table .game_log-table-head th {
  background-color: #434343;
  text-align: center;
}
.game_log-table .game_log-table-head.demo-head th:last-child {
  background-color: #76a5af;
}
.game_log-table .demo-body td {
  color: white;
  text-align: center;
}
.game_log-table .demo-body td:last-child {
  background-color: white;
  border-color: black;
  border-width: 0.2px;
  color: black;
}
