.wrapper_home {
  background-color: #202020;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}

.wrapper_home .home_tabs {
  padding: 0;
  margin: 0 auto;
}

.wrapper_home .home_tabs a,
.wrapper_home .home_tabs button {
  background: #2e2e2e;
  color: white;
  padding: 10px 12px;
  border: 1px solid #434343;
}

.wrapper_home .home_tabs table {
  width: 80vw;
}
.wrapper_home .home_tabs table th {
  background: #202020;
  border: 1px solid #434343;
  font-weight: normal;
}

.wrapper_home .home_tabs table th,
.wrapper_home .home_tabs table td {
  border: 1px solid #434343;
  text-align: center;
  color: white;
  padding: 5px 15px;
}

.wrapper_home .home_tabs table td {
  background-color: #ffffff;
  color: black;
}

.wrapper_home .home_tabs table tbody tr td:nth-last-child(-n + 3) {
  background: #2e2e2e;
  color: #eeeeee;
}

.wrapper_home .home_section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.timer_section {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.timer_section .timer_display {
  display: flex;
  align-items: center;
  /* width: 80vw; */
}
.timer_section .timer_display div {
  width: calc(80vw / 10);
  display: flex;
  align-items: center;
}
.timer_section .timer_display div:not(:last-child)::after {
  content: "â—";
  margin: auto;
}
.timer_section .timer_display--box {
  display: flex;
  width: 80vw;
  height: auto;
}

.timer_section .timer_display--box .timer-title {
  width: calc(80vw / 10);
  height: 50px;
  visibility: visible;
  transition: all 1s ease;
  opacity: 1;
}
.timer_section .timer_display--box .timer-title:nth-child(even) {
  background-color: #a61c00;
}
.timer_section .timer_display--box .timer-title:nth-child(odd) {
  background-color: #2e2e2e;
}

.wrapper_home .home_section .section_list {
  display: grid;
  grid-template-columns: 200px 65px 160px auto 140px 65px 200px;
  list-style: none;
  background-color: #2e2e2e;
  margin: 0 auto;
  width: 100%;
  padding: 0 !important;
  /* border: 1px solid #666666; */
}

.wrapper_home .home_section .section_list .change_hover {
  border-bottom: 1px solid transparent;
}

.wrapper_home .home_section .section_list .change_hover:hover {
  color: #00d2ff;
  border-bottom: 1px solid cyan;
}

.wrapper_home .home_section .section_list .selected {
  color: #00d2ff;
  border-bottom: 1px solid #00d2ff;
}

.wrapper_home .home_section .section_list li {
  padding: 8px;
  text-transform: capitalize;
  position: relative;
  height: 45px;
  text-align: center;
  font-weight: bold;
  display: grid;
  place-items: center;
  background-color: #2e2e2e;
  border: 1px solid #3f3f3f;
}

.wrapper_home .home_section .section_list li:nth-child(2):hover {
  background-color: #202020 !important;

  /* border: 1px solid transparent; */
  /* background-color: #434343; */
}
.wrapper_home .home_section .section_list li:nth-child(3) {
  /* border: 1px solid transparent; */
  /* background-color: #434343; */
}
.wrapper_home .home_section .section_list li:nth-child(4) {
  /* border: 1px solid #434343; */
}
.wrapper_home .home_section .section_list li:nth-child(5) {
  /* border: 1px solid #434343; */
  /* background-color: #434343 !important; */
}
.wrapper_home .home_section .section_list li button {
  width: 50%;
  height: 100%;
  background: #2e2e2e;
  border: none;
  color: white;
}

.wrapper_home .home_section .section_list li .hover_menu .hover_confirm-btn {
  border: 1px solid white;
  padding: 12px 24px;
  width: 100%;
  grid-row: 3/ 4;
  grid-column: 1/3;
}
.wrapper_home .home_section .section_list li .hover_menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 105%;
  right: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: all 0.5s ease;
  background-color: #343434;
  width: 260px;
}

.wrapper_home .home_section .section_list li .hover_menu label {
  border: 1px solid #434343;
  padding: 8px 10px;
  color: white;
}

.wrapper_home .home_section .section_list li.hover_item button {
  background: transparent;
}
.wrapper_home .home_section .section_list li.hover_item:hover {
  border: 1px solid cyan !important;
}
.wrapper_home .home_section .section_list li.hover_item:hover > button {
  color: cyan !important;
}

.wrapper_home .home_section .section_list li.hover_item:hover .hover_menu {
  visibility: visible;
  opacity: 1;
}
.wrapper_home .home_section .section_list li.hover_item .hover_menu input {
  outline: none;
  border: 1px solid #434343;
  border-collapse: collapse;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper_home .home_section .section_part2 {
  background: #2e2e2e;
  border: 1px solid #434343;
  border-bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper_home .home_section .section_part2 .section_inputArea {
  display: grid;
  grid-template-columns: repeat(2, 110px);
  grid-template-rows: 50px 50px;
  /* place-items: center; */
  gap: 1px;
}

.unit__value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 0;
}
.unit__value p {
  margin-bottom: 0;
}

.quantity__total__table {
  display: grid;
  grid-template-columns: repeat(2, auto);
  /* grid-template-rows: repeat(2, auto); */
  margin-top: -25px;
  gap: 1px;
  margin-left: 1px;
}

.black_and_white_text {
  background: black !important;
  color: white !important;
}

.quantity__total__table input,
.quantity__total__table p {
  margin-bottom: 0;
  text-align: center;
  width: 110px;
  height: 50px;
}
.quantity__total__table input {
  visibility: hidden;
}
.quantity__total__table p:nth-child(1),
.quantity__total__table p:nth-child(2) {
  /* width: max-content; */
  height: max-content;
}

.buy__sell__area {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;
}

.unit__value__text {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 15pt;
  width: 110px;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border: none;
  outline: none;
  visibility: visible !important;
}

.unit__value__text--disabled {
  background-color: transparent !important;
}

.wrapper_home .home_section .section_part2 .section_inputArea > button {
  border: 0px solid #616161;
  text-align: center;
  padding: 11px;
  background-color: #202020;
  color: white;
  text-transform: uppercase;
  width: 110px;
  height: 50px;
  align-self: flex-end;
  justify-self: end;
}
.wrapper_home
  .home_section
  .section_part2
  .section_inputArea
  > button:enabled:hover {
  background-color: #666666;
}

.wrapper_home
  .home_section
  .section_part2
  .section_inputArea
  > button:disabled {
  cursor: not-allowed;
}

.wrapper_home .home_section .section_part2 .section_inputArea > p {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 15pt;
  width: 110px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.wrapper_home .home_section .section_part2 .section_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(1296px - 108px - 108px - 2mm);
  gap: 40px;
  margin: 40px 0;
}
.wrapper_home .home_section .section_part2 .section_middle .middle_controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.wrapper_home .home_section .section_part2 .section_middle .middle_controls p {
  background-color: #616161;
  font-weight: 500;
  /* padding: 10px 20px; */
  font-size: 1.2rem;
  text-align: center;
  margin: 0 !important;
}
.wrapper_home
  .home_section
  .section_part2
  .section_middle
  .middle_controls
  button {
  /* padding: 10px 20px; */
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  width: 100px;
}
.wrapper_home
  .home_section
  .section_part2
  .section_middle
  .middle_controls
  .control_pause {
  border: none;
  background-color: #85200c;
  color: white;
}
.wrapper_home
  .home_section
  .section_part2
  .section_middle
  .middle_controls
  .control_pause:hover {
  background-color: #a61c00;
}
.bgRed {
  border: none !important;
  background-color: #85200c !important ;
  color: white !important;
}
.bgRed:hover {
  background-color: #a61c00 !important ;
}
.bgCyan {
  border: none !important;
  background-color: #45818e;
  color: white;
}
.bgCyan:hover {
  background-color: #76a5af;
}
.wrapper_home
  .home_section
  .section_part2
  .section_middle
  .middle_controls
  .control_play {
  border: none;
  background-color: #45818e;
  color: white;
}
.wrapper_home
  .home_section
  .section_part2
  .section_middle
  .middle_controls
  .control_play:hover {
  background-color: #76a5af;
}

/* added by Pritha in v4 branch */

.wrapper_home
  .home_section
  .section_part2
  .section_middle
  .middle_controls
  .control_play:disabled,
.wrapper_home
  .home_section
  .section_part2
  .section_middle
  .middle_controls
  .control_pause:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.wrapper_home .home_section .section_part2 .section_middle .info-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrapper_home
  .home_section
  .section_part2
  .section_middle
  .info-table
  .info-table_head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100mm;
}
.wrapper_home
  .home_section
  .section_part2
  .section_middle
  .info-table
  .info-table_head
  > p {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  text-align: center;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.wrapper_home
  .home_section
  .section_part2
  .section_middle
  .info-table
  .info-table_data
  > p {
  width: 100%;
  height: 45px;
  padding: 8px 12px;
  text-align: center;
  background-color: #434343;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.wrapper_home
  .home_section
  .section_part2
  .section_middle
  .info-table
  .info-table_data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 1px;
}

.wrapper_home .home_section .section_part2 .section_cc {
  /* padding: 80px 00px; */
  display: grid;
  place-items: center;
  margin-top: 0 !important;
  margin-bottom: 40px;
}

.wrapper_home .home_section .section_part2 .section_cc .cc_grid_section {
  display: grid;
  grid-template-columns: repeat(10, 99.69px);
  grid-template-rows: repeat(10, 58.94px);
  column-gap: 8.31px;
  row-gap: 8.42px;
  background-color: #202020;
}

.wrapper_home .home_section .section_part2 .section_cc .cc_grid_section button {
  background-color: #343434;
  color: white;
  font-weight: 600;
  font-size: calc(16pt - 10%);
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_home
  .home_section
  .section_part2
  .section_cc
  .cc_grid_section
  button:disabled {
  cursor: not-allowed;
}
.last_eleminated_country_with_flash{
  background-color: #85200c !important;
  animation-name: flashRed;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 10;

  /* Firefox 1+ */
  -webkit-animation-name: flashRed;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 10;

  /* Safari 3-4 */
  -moz-animation-name: flashRed;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 10;
}

.last_eleminated_country {
  /* background-color: #85200c !important; */
  /* background-color: #85200c !important; */
  opacity: 0.3;
}

.eleminated_country {
  opacity: 0.3;
}
.delay_eleminated_country {
  opacity: 1;
}

.not_eleminated_country {
  background-color: #76a5af !important;
  opacity: 1;
}

.blueAnimation {
  background-color: #76a5af !important;
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  /* Firefox 1+ */
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  /* Safari 3-4 */
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

.goldenWinnerAnimation {
  background-color: #FFD700 !important;
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 10;

  /* Firefox 1+ */
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 10;

  /* Safari 3-4 */
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 10;
}


.w-fit-content {
  width: fit-content !important;
  height: fit-content !important;
}

.wrapper_home
  .home_section
  .section_part2
  .section_cc
  .cc_grid_section
  button:enabled:hover {
  border: 1px solid #76a5af;
}

.bg-black {
  background-color: #202020 !important;
}

.section_cc {
  position: relative;
  background-color: #202020;
  width: calc(1296px - 80px);
  height: 808.02px;
  /* padding: 137px 0; */
  overflow: hidden;
}

.border-design {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  position: absolute;
  z-index: 0;
}
.border-design.border-design_top {
  top: 0;
}

.border-design.border-design_bottom {
  bottom: 0;
}

.border-design.border-design_left {
  flex-direction: column;
  left: 0;
  top: 67.36px;
}
.border-design.border-design_right {
  top: 67.36px;
  flex-direction: column;
  right: 0;
  left: calc(100% - 108px);
}
.border-design .border-design-item {
  width: 108px;
  height: 67.36px;
  background-color: #2e2e2e;
  border: 0.8px solid #434343;
}

.introduction-btn {
  background-color: #2e2e2e;
  border: 1px solid #434343;
  display: grid;
  place-items: center;
  color: white;
}
.introduction-btn:hover {
  border: 1px solid #00ffff !important;
  color: #00ffff !important;
}

.hover-link:hover,
.hover-link:hover a {
  color: cyan !important;
  border-bottom-color: cyan !important;
}

.fluid-font-size {
  font-size: 11.1px;
}

.font-size-12pt {
  font-size: 13pt !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-bold {
  font-weight: bold;
}

.section_middle_width_height {
  /* width: 110px; */
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-code_name {
  background-color: "white";
  color: "black";
  display: grid;
  place-items: center;
  font-weight: normal;
  margin-bottom: 0;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.dis-flex {
  display: flex;
}

.flex_direction-col {
  flex-direction: column;
}

.align_item-center {
  align-items: center !important;
}
.align_item-end {
  align-items: flex-end !important;
}

.justify_content-center {
  justify-content: center;
}

.justify_content-space_between {
  justify-content: space-between;
}

.margin-auto {
  margin: auto;
}

.width-max_content {
  width: max-content;
}

.flex_gap-10 {
  gap: 10px;
}

.same-box-width-height:hover {
  background-color: #666666;
}
.same-box-width-height {
  border: 0px solid #616161;
  text-align: center;
  padding: 11px;
  background-color: #202020;
  color: white;
  text-transform: uppercase;
  width: 110px;
  height: 50px;
  align-self: flex-end;
  justify-self: end;
}
.same-box-width-height-align-self-start:hover {
  background-color: #666666;
}
.same-box-width-height-align-self-start {
  border: 0px solid #616161;
  text-align: center;
  padding: 11px;
  background-color: #202020;
  color: white;
  text-transform: uppercase;
  width: 110px;
  height: 50px;
  justify-self: end;
  align-self: flex-start;
}
.same-box-width-height-align-self-end:hover {
  background-color: #666666;
}
.same-box-width-height-align-self-end {
  border: 0px solid #616161;
  text-align: center;
  padding: 11px;
  background-color: #202020;
  color: white;
  text-transform: uppercase;
  width: 110px;
  height: 50px;
  justify-self: start;
  align-self: flex-end;
}

.mb-0 {
  margin-bottom: 0;
}

.reset {
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px;
}

/* animation for glowing buttons */
@-webkit-keyframes glowingRed {
  0% {
    background-color: #85200c;
    -webkit-box-shadow: 0 0 3px #85200c;
  }
  50% {
    background-color: rgba(255, 0, 0, 0.747);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.747);
  }
  100% {
    background-color: #85200c;
    -webkit-box-shadow: 0 0 3px #85200c;
  }
}
@keyframes glowingRed {
  0% {
    background-color: #85200c;
    box-shadow: 0 0 3px #85200c;
  }
  50% {
    background-color: rgba(255, 0, 0, 0.747);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.747);
  }
  100% {
    background-color: #85200c;
    box-shadow: 0 0 3px #85200c;
  }
}

@-webkit-keyframes glowingBlue {
  0% {
    background-color: #76a5af;
    -webkit-box-shadow: 0 0 3px #76a5af;
  }
  50% {
    background-color: #76a5af;
    opacity: 0.2;
    box-shadow: 0 0 15px #76a5af;
  }
  100% {
    background-color: #76a5af;
    -webkit-box-shadow: 0 0 3px #76a5af;
  }
}
@keyframes glowingBlue {
  0% {
    background-color: #76a5af;
    box-shadow: 0 0 3px #76a5af;
  }
  50% {
    background-color: #76a5af;
    box-shadow: 0 0 15px #76a5af;
    opacity: 0.2;
  }
  100% {
    background-color: #76a5af;
    box-shadow: 0 0 3px #76a5af;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
    box-shadow: 0 0 3px #76a5af;
  }
  50% {
    opacity: 0.5;
    box-shadow: 0 0 15px #76a5af;
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 3px #76a5af;
  }
}

/* Firefox  */
@-webkit-keyframes flash {
  0% {
    opacity: 1;
    -webkit-box-shadow: 0 0 3px #76a5af;
  }
  50% {
    opacity: 0.5;
    -webkit-box-shadow: 0 0 15px #76a5af;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0 0 3px #76a5af;
  }
}

/* Safari 3-4 */
@-moz-keyframes flash {
  0% {
    opacity: 1;
    -moz-box-shadow: 0 0 3px #76a5af;
  }
  50% {
    opacity: 0.5;
    -moz-box-shadow: 0 0 15px #76a5af;
  }
  100% {
    opacity: 1;
    -moz-box-shadow: 0 0 3px #76a5af;
  }
}

@keyframes flashRed {
  0% {
    opacity: 1;
    box-shadow: 0 0 3px #76a5af;
  }
  50% {
    opacity: 0.5;
    box-shadow: 0 0 15px #76a5af;
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 3px #76a5af;
  }
}

/* Firefox  */
@-webkit-keyframes flashRed {
  0% {
    opacity: 1;
    -webkit-box-shadow: 0 0 3px #85200c;
  }
  50% {
    opacity: 0.5;
    -webkit-box-shadow: 0 0 15px #85200c;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0 0 3px #85200c;
  }
}

/* Safari 3-4 */
@-moz-keyframes flashRed {
  0% {
    opacity: 1;
    -moz-box-shadow: 0 0 5px #85200c;
  }
  50% {
    opacity: 0.5;
    -moz-box-shadow: 0 0 20px #85200c;
  }
  100% {
    opacity: 1;
    -moz-box-shadow: 0 0 5px #85200c;
  }
}


